body {
    font-family: Arial, sans-serif;
    background-color: #8d27ec9f;
    padding: 20px;
}

h1 {
    color: #1f2d3d;
    text-align: center;
}

input {
    padding: 8px;
    width: 300px;
}

button {
    cursor: pointer;
    background-image: url("../img/ampliar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 25px; /* ou cover */
}


.card {
    background: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
